*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --dark:	#18191A;
    --text:#E4E6EB;
    --dimmed:#B0B3B8;
    --card:#242526;
    --link:	#2374E1;
    --text-font:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;;
}
h2{
    font-family: var(--text-font);
    color: var(--text);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    width: 100%;
    height: auto;
    padding: 2rem 2rem;
}
.card{
    display: flex;
    flex-direction: column;
    background-color: var(--card);
    height: auto;
    gap: 0.80rem;
    max-width: 700px;
    border-radius: 10px;
}
.header{
    padding: 1rem;
}
.header-contents{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.header-text{
    flex: 1;
    text-align: center;
}
.header-text h2{
    color: var(--text);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

}
.icon-container{
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(176, 179, 184, 0.09);
    padding: 0.5rem;
    border-radius: 40%;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.icon-container i{
    font-size: 2rem;
    color: var(--dimmed);
}
.user-img,
.cover-user,
.avatar-user,
.customize-info{
    padding: 0.50rem 2rem;
}
.top-contents,
.cover-contents,
.bio-contents{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.top-header,
.cover-header,
.avatar-header,
.bio-header,
.customize-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-header a,
.cover-header a,
.avatar-header a,
.bio-header a,
.customize-header a{
    text-decoration: none;
    font-family: var(--text-font);
    color: var(--link);
    font-size: 1.3rem;
}
.avatar-desc p{
    font-size: 0.90rem;
    color: var(--dimmed);
    font-family: var(--text-font);
    
}
.user-image,
.avatar-image{
    width: 100%;
    height: auto;
    justify-content: center;
    display: flex;
}
.user-img img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
.user-cover{
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
}
.user-cover img{
    width: 600px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}
.customize-content{
    gap: 1rem;
    display: flex;
    flex-direction: column;
}
.bio-user{
    padding: 0.50rem 2rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
}
.bio{
    display: flex;
    justify-content: center;
}
.bio p{
    font-family: var(--text-font);
    color: var(--dimmed);
}
.user-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.school,
.home,
.followed,
.instagram{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.icon i{
    color: var(--dimmed);
}
.icon-desc p{
    color: var(--text);
    font-family: var(--text-font);
    font-size: 0.90rem;
    line-height: 0.98rem;
}
.ig-desc a{
    text-decoration: none;
    color: var(--link);
    font-family: var(--text-font);
    font-size: 0.90rem;
}
.middot{
    color: var(--link);
    font-size: 1.5rem;
}
.ig-desc{
    display: flex;
    gap: 0.20rem;
    align-items: center;
}
.cta-eya{
    background-color:rgba(35, 116, 225, 0.3);
    width: 100%;
    padding: 0.70rem;
    font-family: var(--text-font);
    color: var(--link);
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
    border-radius: 10px;
}
